* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000055;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
} 
.body_container, ul.Books {
    white-space: pre-line;
}
.purpleBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 30px;
    max-height: 400px;
    overflow: scroll;
    width: 60%;
    border: 3px solid purple;
    padding: 30px;
}
.purpleBox::-webkit-scrollbar {
    display: none;
} 
.purpleBox, p {
    color: #666666;
}
.formContainer {
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 325px;
    border: 3px solid purple;
    padding: 10px;
}
h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.links {
    color: #cccccc
}
#login-Btn {
    margin-left: 40%;
    margin-right: 50%;
    padding: 3px 5px 3px 5px;
}
.form-input {
    position: absolute;
    right: 20%;
}
.home {
    height: 60px;
    text-align: center;
    margin-top: 20;
}
.home_button {
    background-color: #222;
    border: 2px solid #222;
    margin: auto;
}
a {

    text-decoration: none;
}
.inputClass {
    width: 300px;
}
label {
    color: #666666;
}
input, button {
    background-color: #cccccc;
}
.turquios_button {
    display:inline; 
    height:30px; 
    width:30px; 
    float:right; 
    background-color: aqua; 
    margin-left:5px
}
textarea, input{
    border: none;
    overflow-y: scroll;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /* remove the resize handle on the bottom right */
    background-color: #000055; color: #aaa; border: 0px; font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;
}
textarea::-webkit-scrollbar {
    display: none;
}
#titleDiv {
    position: relative;
}
#updateButton {
    float: right;
    padding: .5em;
}   