<!-- </head>
<body> -->
<div class="container">
    <div id="title"> <a href="/" id="simmer">simmer999.org</a></div>
    <nav>
        <button class="nav-item dropdown">
            <div id="hamburger" class="dropbtn"><img class="burg" src="../img/burger3.png" alt="burger">
                <span class="menu_id">Stack</span>
                <div class="menu_id dropdown-content">
                    <a href="home">Home</a>
                    <a href="https://mongodb.com/">MongoDB</a>
                    <a href="https://heroku.com/">Heroku</a>
                    <a href="https://threejs.org/">THREE.js</a>
                    <a href="https://d3js.org/">D3.js</a>
                    <a href="https://nodejs.org/en/about/">Node.js</a>
                    <a href="https://expressjs.com/">Express.js</a>

                </div>
            </div>
        </button>
        <button class="nav-item dropdown">
            <div id="hamburger" class="dropbtn"><img class="burg" src="../img/burger3.png" alt="burger">
                <span class="menu_id">Examples</span>
                <div class="menu_id dropdown-content">
                    <a href="skybox">Skybox</a>
                    <a href="4_skyboxes">4 Skyboxes</a> 
                    <a href="ocean">Ocean</a>                   
                    <a href="space">Space Doughnut</a>
                    <a href="star_Lines">Star Lines</a>
                    <a href="sphere">Sphere</a>
                </div>
            </div>
        </button>
        <button class="nav-item dropdown">
            <div id="hamburger" class="dropbtn"><img class="burg" src="../img/burger3.png" alt="burger">
                <span class="menu_id">Enter</span>
                <div class="menu_id dropdown-content">
                    <a href="https://simmer222.herokuapp.com/">Memory App</a>
                    <a href="experiment_23/login">Experiment</a>

                    <a href="cube">Home </a>
                </div>
            </div>
        </button>
        <button class="nav-item dropdown">
            <div id="hamburger" class="dropbtn"><img class="burg" src="../img/burger3.png" alt="burger">
                <span class="menu_id">About</span>
                <div class="menu_id dropdown-content">
                    <a href="#">History</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </button>
    </nav>
</div>    