<div class="navbar">
    <a href="/members/newPages/categories">Something New</a>
    <a href="http://www.simondevine.org/">999-3D</a>
    <a href="/directory">Directory</a>
    <a href="cube">Cube</a>
    <a href="logout">Logout</a>
  </div>