<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cube.css">
    <title>Cube</title>
</head>
<body>
    <div id="directions">
        <div class="subs" id="sub01">
            <a href="home"><p>Information</p></a>
        </div>
        <div class="subs" >
            <a href="welcome"><p>Node app</p></a>
        </div>
    </div>
<script type="importmap">{ "imports": { "three": "../node_modules/three/build/three.module.js" } } </script>
<script src="/js/cube.js" type="module"></script>   
</body>
</html>