<%- include('../partials/membersHead'); %>
<link rel="stylesheet" href="/css/members.css">
</head>
    <script type = "text/javascript" >
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
     </script>
</head>
<section>
    <div class='spacer'>
    </div> 
    
    <h1 class='purpleBox'>Dashboard</h1>
    <div class="purpleBox">



    <br>
    <a href="/logout">Logout</a>__
    <a href="/directory">Directory</a>
    </div> 
</section>
<%- include ('../partials/footer') %>