<%- include('../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/css/members.css">
<link rel="stylesheet" type="text/css" href="/css/navbar_members.css">
<title>Directory</title>
</head>
<body>

<section >
    <%- include('../partials/navbar_members'); %>
<br>
<br>
<div class='mainContainer'>
	<div class='spacer'>
		<!-- <div class='flexbox'>
		<a href="newStuff">New Stuff</a>
		<a href="getStuff">Get Stuff</a>
		</div> -->
	</div>
    <div class='purpleBox'>
        <div class="purpleBox" id='inside'>
        
        <a href="bookList"><h3 class="titles">Book Titles</h3></a> 
        <br>
        <a href="/essayPresentation"><h3 class="titles">Essay Titles</h3></a>
        <br> 
        <a href="/poemPresentation"><h3 class="titles">Poem Titles</h3></a> 
   
        </div>

    </div>
</div>
</section>
<%- include ('../partials/footer') %>

