* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000055;
    overflow-y: scroll;
}
#add {
    padding: 0%;
}
body::-webkit-scrollbar {
    display: none;
} 
.body_container, ul.Books {
    white-space: pre-line;
}
/* ======================= BUTTONS */
.button_addUser {
    margin-left: 30px;
}
#updateButton {
    float: right;
    padding: .1em;
    background-color: #dd00dd;
}
#backButton {
    float: right;
    margin: 0 20em;
    background-color: #dd00dd;
}
#add_userButton {
    display: inline-block;
    margin: 1em 5em;
    color: #dd00dd
}
/* ======================= BUTTONS END*/
.form-input {
    position: absolute;
    right: 20%;
}
.formContainer {
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 325px;
    border: 3px solid purple;
    padding: 10px;
}
h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.links {
    color: #cccccc
}
#login-Btn {
    margin-left: 40%;
    margin-right: 50%;
    padding: 3px 5px 3px 5px;
}

.home {
    height: 60px;
    text-align: center;
    margin-top: 20;
}
.home_button {
    background-color: #222;
    border: 2px solid #222;
    margin: auto;
}
a {
    text-decoration: none;
}
#aTitle {
    color: #dd00dd;
}
.inputClass {
    width: 300px;
}
label {
    color: #666666;
}
input, button {
    background-color: #cccccc;
}
.modify {
    display: inline;
    color: blueviolet;
}
.modifySymbol {
    margin-right: 1em;    
}
.purpleBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 30px;
    max-height: 400px;
    overflow-y: scroll;
    width: 60%;
    border: 3px solid purple;
    padding: 30px;
}
.purpleBox::-webkit-scrollbar {
    display: none;
} 
.purpleBoxXX::-webkit-scrollbar-track {
    background-color: blue;        /* color of the tracking area */
  }
.purpleBoxXX::-webkit-scrollbar {
    display: block;
} 
.purpleBoxXX::-webkit-scrollbar-thumb {
    background-color: blueviolet;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dd00dd;  /* creates padding around scroll thumb */
  }
.purpleBox, p {
    color: #666666;
}
.spacer {
    height: 55px;
}
.turquios_button {
    display:inline; 
    height:30px; 
    width:30px; 
    float:right; 
    background-color: aqua; 
    margin-left:5px
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#textareaContent {
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
    font-size: medium;
}
textarea, input{
    border: none;
    overflow-y: scroll;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /* remove the resize handle on the bottom right */
    background-color: #000055; 
    color: #aaa; 
    border: 0px; 
    font-size: medium; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
textarea::-webkit-scrollbar {
    display: none;
}
#titleDiv {
    position: relative;
}
#titleInput {
    width: 300px;
    color: #dd00dd;
}
#updateButton, #backButton {
    float: right;
    padding: .1em;
    background-color: #dd00dd;
}