<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'>
    </div> 
    <div class="purpleBox" style="height: 300px;">
        <div class="dropdown">
            <button class="dropbtn">Choose a category</button>
            <div class="dropdown-content">
            <a href="newBook">Books</a>
            <a href="newEssay">Essays</a>
            <a href="newPoem">Poems</a>
            <a href="newCategory">New Category</a>
            </div>
          </div>
    </div>
    <%- include('../../partials/membersHead'); %>
    <link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
    <link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
    </head>
    <body>
    <section>
        <%- include('../../partials/navbar_members'); %>


        <!-- <form action="newBook" method='GET'>
            <label for="category">Select your category:</label>
            <select id="category" name="category">
              <option value=""></option>
              <option id='book' value="Books">Books</option>
              <option id='essay' value="Essays">Essays</option>
              <option id='poem' value="Poems">Poems</option>
              <option id='new' value="New">New</option>
            </select>
            <input type="submit">
        </form> -->