<section>
    <%- include('../partials/navbar'); %>
    <div class='spacer'>
    </div>  
    <h1 class='purpleBox'>New Essay</h1>
    <div class="purpleBox">
        <form action="newEssays" method='POST'>
        
            <div>
                <label for="Title">Title</label>
                <input type="title" name='title' placeholder='Enter Collection Title' required/>
            </div>
            <br>
            <div>
                <label for="author">author</label>
                <input type="author" name="author" placeholder="Enter author" required/>
            </div>
            <br>
                <div >
                <label for="Collection Title">Collection Title</label>
                <input type="Collection Title" name="Collection_title" placeholder="Collection Title" required />
            </div>
            <br>
            <div >
                <label for="body">body</label>
                <textarea name="body" cols="60" rows="20" placeholder="Enter content" required>
                    </textarea>
            </div>
             <br>
             <button type="submit" class="xx"> Submit </button> 
        </form>
    </div>  





</section>