<%- include ('../partials/simmer999Head') %>
<!-- <link rel="stylesheet" href="/assets/style.css"> -->
<%- include ('../partials/navBar') %>

<!-- This is hiiden. -->
 <!-- <div id="info">
    <button id="color">change color</button>
    <button id="font">change font</button>
    <button id="weight">change weight</button>
    <button id="bevel">change bevel</button><br/>
    <a id="permalink" href="#">permalink</a>
</div> -->
<!-- End of hidden portion. -->

<script type="importmap">{ "imports": { "three": "../../node_modules/three/build/three.module.js" } } </script>


<script src="../src/home.js" type="module"></script>



<%- include ('../partials/footer') %>