<%- include ('../partials/simmer999Head') %>
<%- include ('../partials/navBar') %>
 <div id="info">
    <button id="color">change color</button>
    <button id="font">change font</button>
    <button id="weight">change weight</button>
    <button id="bevel">change bevel</button><br/>
    <a id="permalink" href="#">permalink</a>
</div>
<script type="importmap">{ "imports": { "three": "../node_modules/three/build/three.module.js" } } </script>


<script src="../public/src/home.js" type="module"></script>



<%- include ('../partials/footer') %>