<section>
    <div class='spacer'>
    </div>  
    <h1 class='purpleBox'>getPoemsStuff, a.k.a. Poems.ejs</h1> 
    <%- include('../partials/sidenav'); %>    
    <div class="purpleBox">
        <ul class="Poems">
        <% for(var i = 0; i < entries.length; i++) {%>
            <li class="Poem">
                <a href="/presentationPage">
                    <span><%= entries[i].title%></span>
                </a>
            <br>
            : <span><%= entries[i].author%></span>
            <br>
            : <span><%= entries[i].body%></span>
            </li>
            <br>
        <% } %>
        </ul>
    </div>
    <div class="purpleBox">
        <a href="dashboard">Home</a>
        <br>
        <br>
        <a href="/users/logout">Logout</a>
    </div> 
</section>